<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Užsakymų sąrašas</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="container">
        <h1>Užsakymų sąrašas</h1>
        
        <table>
            <thead>
                <tr>
                    <th>Užsakymo ID</th>
                    <th>Bendra kaina</th>
                    <th>Veiksmai</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order : ${orders}">
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.totalPrice}"></td>
                    <td>
                        <a th:href="@{/order/{orderId}(orderId=${order.id})}">Peržiūrėti užsakymą</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>